body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Freight Sans Medium SC', Arial, sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    background-color: #eaeaea;
}

.bluetext {
    color: #0046ba;
}

.navbar-light.bg-transparent {
    background-color: rgba(255, 255, 255, 0.1); 
}

.navbar-light .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0046ba;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    color: black;
}

.nav-text {
    position: relative;
}

.nav-text:after {
    content: "";
    position: absolute;
    background-color: #0046ba;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}

.nav-text:hover:after {
    content: "";
    position: absolute;
    background-color: #0046ba;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2a2a2a;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #2a2a2a;
}

.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

@font-face {
    font-family: 'Freight Sans Medium SC';
    src: url('/fonts/Freight Sans Medium SC.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.title-container {
    padding-top: 50px;
}

h1 {
    font-size: 4rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 40px;
}

.gallery-container {
    padding-top: 40px;
    text-transform: uppercase;
}

.card-img-container {
    position: relative;
}

/* This border on hover animation is not mine i got it from here https://codepen.io/t_afif/pen/xxpRrOG */
.card-img-top {
    height: 200px;
    object-fit: cover;
    display: block;
    width: 100%;
    border-radius: 0;
}

.card-img-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 60%;
    background-color: rgb(0, 0, 0);
    z-index: 1; 
    transform: translate(-50%, -50%);
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2; 
    text-align: center;
}

.card{
    border-radius: 0;
    background-color: transparent;
    border: none;
    --c: #000000; /* the border color */
    --b: 2px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
}

.card:hover {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
}

