body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Freight Sans Medium SC', Arial, sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    background-color: #eaeaea;
}

.bluetext{
    color: #0046ba;
}

.navbar-light.bg-transparent {
    background-color: rgba(255, 255, 255, 0.1); 
}

.navbar-light .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0046ba;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    color: black;
}

.nav-text{
    position: relative;
}

.nav-text:after{
    content: "";
    position: absolute;
    background-color: #0046ba;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}

.nav-text:hover:after{
    content: "";
    position: absolute;
    background-color: #0046ba;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2a2a2a;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #2a2a2a;
}

.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.text-container {
    position: relative;
    z-index: 2; 
    padding-top: 140px; 
    text-align: center;
    color: white;
    padding-bottom: 100px;
}

.text-container h1 {
    font-size: 5rem;
    color: black;
}

.card{
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.4); 
}

.card-title{
    font-size: 1.4rem;
    text-align: left;
    text-decoration: overline;
    text-decoration-thickness: 2px;
}

.card-text{
    margin-top: -5px;
    text-align: left;
}

.col-sm {
    text-align: center;
    align-items: center;
}

.jumbotron {
    z-index: 2;
    position: relative;
    margin-bottom: 0;
    margin-top: -30px;
    background-color: transparent;
    padding-top: 10px;
}

.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.card-image-wrapper {
    position: relative;
}

.icon-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    color: grey;
    font-size: 1.2rem;
}

.btn{
    background-color:#0046ba;
    border: none;
    border-radius: 5px;
}

hr{
    margin-bottom: -10px;
    margin-top: 30px;
    border-width: 2px;
    border-color: black;
}

h5{
    font-weight: bold;
}

@font-face {
    font-family: 'Freight Sans Medium SC';
    src: url('/fonts/Freight Sans Medium SC.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}
