<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templates.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Templates</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                sitefy
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/sitefy/"><span class="nav-text">home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sitefy/templates"><span class="nav-text">templates</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sitefy/gallery"><span class="nav-text">gallery</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-container">
        <h1>select your <span class="bluetext">template</span> below</h1>
        <hr>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-sm d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-image-wrapper">
                        <img class="card-img-top" src="/images/blogpostimg.jpg">
                        <a href="/sitefy/templates/template1"><i class="fa-solid fa-up-right-from-square icon-top-right"></i></a>
                    </div>
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">blog template</h5>
                      <p class="card-text flex-grow-1">perfect for sharing your thoughts and ideas in a clean, professional layout.</p>
                      <a href="/sitefy/templates/new?template=template1" class="btn btn-primary">use template</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-image-wrapper">
                        <img class="card-img-top" src="/images/shopimg.jpg">
                        <a href="/sitefy/templates/template2"><i class="fa-solid fa-up-right-from-square icon-top-right"></i></a>
                    </div>
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">shop template</h5>
                      <p class="card-text flex-grow-1">ideal for online stores, showcasing products with a modern and user-friendly design.</p>
                      <a href="/sitefy/templates/new?template=template2" class="btn btn-primary">use template</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-image-wrapper">
                        <img class="card-img-top" src="/images/newsimg.jpg">
                        <a href="/sitefy/templates/template3"><i class="fa-solid fa-up-right-from-square icon-top-right"></i></a>
                    </div>
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">news template</h5>
                      <p class="card-text flex-grow-1">showcase important information, featuring an organized and readable layout.</p>
                      <a href="/sitefy/templates/new?template=template3" class="btn btn-primary">use template</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-image-wrapper">
                        <img class="card-img-top" src="/images/restaurantimg.jpg">
                        <a href="/sitefy/templates/template4"><i class="fa-solid fa-up-right-from-square icon-top-right"></i></a>
                    </div>
                    <div class="card-body d-flex flex-column">
                      <h5 class="card-title">restaurant template</h5>
                      <p class="card-text flex-grow-1">showcase your restaurant's menu and ambiance with a stylish, appetizing design.</p>
                      <a href="/sitefy/templates/new?template=template4" class="btn btn-primary">use template</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
