<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templates.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Templates</title>
    <link rel="icon" href="/images/favicon_io/favicon-16x16.png" type="image/png">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="#">
                sitefy
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/sitefy/"><span class="nav-text">home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sitefy/templates"><span class="nav-text">templates</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sitefy/gallery"><span class="nav-text">gallery</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-container">
        <h1>select your <span class="bluetext">template</span> below</h1>
        <hr>
    </div>

    <div class="container jumbotron">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-image-wrapper">
                        <img class="card-img-top" src="/images/blogpostimg.jpg">
                        <a href="/sitefy/templates/template1"><i class="fa-solid fa-up-right-from-square icon-top-right" style="color:#0046ba"></i></a>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center bg-transparent flex-row">
                        <h5 class="card-title mr-5">blog template</h5>
                        <a href="/sitefy/templates/new?template=template1" class="create-icon"><i class="fa-solid fa-circle-plus fa-2xl" style="color: #0046ba;"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-image-wrapper">
                        <img class="card-img-top" src="/images/shopimg.jpg">
                        <a href="/sitefy/templates/template2"><i class="fa-solid fa-up-right-from-square icon-top-right" style="color:#0046ba"></i></a>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center bg-transparent flex-row">
                        <h5 class="card-title mr-5">shop template</h5>
                        <a href="/sitefy/templates/new?template=template2" class="create-icon"><i class="fa-solid fa-circle-plus fa-2xl" style="color: #0046ba;"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-image-wrapper">
                        <img class="card-img-top" src="/images/newsimg.jpg">
                        <a href="/sitefy/templates/template3"><i class="fa-solid fa-up-right-from-square icon-top-right" style="color:#0046ba"></i></a>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center bg-transparent flex-row">
                        <h5 class="card-title mr-5">news template</h5>
                        <a href="/sitefy/templates/new?template=template3" class="create-icon"><i class="fa-solid fa-circle-plus fa-2xl" style="color: #0046ba;"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-image-wrapper">
                        <img class="card-img-top" src="/images/restaurantimg.jpg">
                        <a href="/sitefy/templates/template4"><i class="fa-solid fa-up-right-from-square icon-top-right" style="color:#0046ba"></i></a>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center bg-transparent flex-row">
                        <h5 class="card-title mr-5">restaurant template</h5>
                        <a href="/sitefy/templates/new?template=template4" class="create-icon"><i class="fa-solid fa-circle-plus fa-2xl" style="color: #0046ba;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
