<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>New Template</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="#">
                sitefy
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/sitefy/"><span class="nav-text">home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sitefy/templates"><span class="nav-text">templates</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sitefy/gallery"><span class="nav-text">gallery</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container d-flex justify-content-center">
    <h1>
        <% if (template === 'template1'){ %>
            create your blog website!
        <%} else if (template === 'template2') {%>
            create your shop website!
        <%} else if (template === 'template3') {%>
            create your news website!
        <%} else if (template === 'template4') {%>
            create your restaurant website!
        <%}%>
    </h1>
    </div>

    <div class="container template-container">
        <form action="/sitefy/templates/create" method="POST">
            <input type="hidden" name="template" value="<%= template %>">
            <% if (template === 'template1') { %>
                <div class="form-group">
                    <label for="companyName">Company name:</label>
                    <input type="text" class="form-control" id="companyName" name="companyName" required>
                </div>
                <div class="form-group">
                    <label for="brandName">Brand name:</label>
                    <input type="text" class="form-control" id="brandName" name="brandName" required>
                </div>
                <div class="form-group">
                    <label for="image1">Image 1 URL:</label>
                    <input type="text" class="form-control" id="image1" name="image1" required>
                </div>
                <div class="form-group">
                    <label for="image2">Image 2 URL:</label>
                    <input type="text" class="form-control" id="image2" name="image2" required>
                </div>
                <div class="form-group">
                    <label for="image3">Image 3 URL:</label>
                    <input type="text" class="form-control" id="image3" name="image3" required>
                </div>
                <div class="form-group">
                    <label for="blogName">Blog name:</label>
                    <input type="text" class="form-control" id="blogName" name="blogName" required>
                </div>
                <div class="form-group">
                    <label for="blogPost">Blog post:</label>
                    <textarea class="form-control" id="blogPost" name="blogPost" required></textarea>
                </div>
                <div class="form-group">
                    <label for="iconImage1">Icon image 1 URL:</label>
                    <input type="text" class="form-control" id="iconImage1" name="iconImage1" required>
                </div>
                <div class="form-group">
                    <label for="iconImage2">Icon image 2 URL:</label>
                    <input type="text" class="form-control" id="iconImage2" name="iconImage2" required> 
                </div>
                <div class="form-group">
                    <label for="bodyBgColor">Body background color:</label>
                    <input type="color" class="form-control colorbox" id="bodyBgColor" name="bodyBgColor" required>
                </div>
                <div class="form-group">
                    <label for="navbarBgColor">Navbar background color:</label>
                    <input type="color" class="form-control colorbox" id="navbarBgColor" name="navbarBgColor" required>
                </div>
                <div class="form-group">
                    <label for="navbarBrandColor">Navbar brand color:</label>
                    <input type="color" class="form-control colorbox" id="navbarBrandColor" name="navbarBrandColor" required>
                </div>
                <div class="form-group">
                    <label for="navbarLinkColor">Navbar link color:</label>
                    <input type="color" class="form-control colorbox" id="navbarLinkColor" name="navbarLinkColor" required>
                </div>
                <div class="form-group">
                    <label for="titleColor">Title color:</label>
                    <input type="color" class="form-control colorbox" id="titleColor" name="titleColor" required>
                </div>
                <div class="form-group">
                    <label for="subtitleColor">Subtitle color:</label>
                    <input type="color" class="form-control colorbox" id="subtitleColor" name="subtitleColor" required>
                </div>
                <div class="form-group">
                    <label for="secondNavbarBgColor">Second navbar background color:</label>
                    <input type="color" class="form-control colorbox" id="secondNavbarBgColor" name="secondNavbarBgColor" required>
                </div>
                <div class="form-group">
                    <label for="buttonBgColor">Button background color:</label>
                    <input type="color" class="form-control colorbox" id="buttonBgColor" name="buttonBgColor" required>
                </div>
                <div class="form-group">
                    <label for="buttonTextColor">Button text color:</label>
                    <input type="color" class="form-control colorbox" id="buttonTextColor" name="buttonTextColor" required>
                </div>
                <div class="form-group">
                    <label for="secondNavLinkColor">Second navbar link color:</label>
                    <input type="color" class="form-control colorbox" id="secondNavLinkColor" name="secondNavLinkColor" required>
                </div>
                <div class="form-group">
                    <label for="subtitlePColor">Subtitle paragraph color:</label>
                    <input type="color" class="form-control colorbox" id="subtitlePColor" name="subtitlePColor" required>
                </div>
                <div class="form-group">
                    <label for="postH4Color">Post header color:</label>
                    <input type="color" class="form-control colorbox" id="postH4Color" name="postH4Color" required>
                </div>
                <div class="form-group">
                    <label for="postPColor">Post paragraph color:</label>
                    <input type="color" class="form-control colorbox" id="postPColor" name="postPColor" required>
                </div>
                <div class="form-group">
                    <label for="overlayBgColor">Overlay background color:</label>
                    <input type="color" class="form-control colorbox" id="overlayBgColor" name="overlayBgColor" required>
                </div>
                <div class="form-group">
                    <label for="overlayTextColor">Overlay text color:</label>
                    <input type="color" class="form-control colorbox" id="overlayTextColor" name="overlayTextColor" required>
                </div>
                <div class="form-group">
                    <label for="footerBgColor">Footer background color:</label>
                    <input type="color" class="form-control colorbox" id="footerBgColor" name="footerBgColor" required>
                </div>
                <div class="form-group">
                    <label for="footerNavLinkColor">Footer navbar link color:</label>
                    <input type="color" class="form-control colorbox" id="footerNavLinkColor" name="footerNavLinkColor" required>
                </div>
                <div class="form-group">
                    <label for="footerSocialLinkColor">Footer social link color:</label>
                    <input type="color" class="form-control" id="footerSocialLinkColor" name="footerSocialLinkColor" required>
                </div>
                <div class="form-group">
                    <label for="copyrightTextColor">Copyright text color:</label>
                    <input type="color" class="form-control" id="copyrightTextColor" name="copyrightTextColor" required>
                </div>      
            
            <% } else if (template === 'template2') { %>
                <div class="form-group">
                    <label for="title">title:</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="leftImage">left image:</label>
                    <input type="text" class="form-control" id="leftImage" name="leftImage" required>
                </div>
                <div class="form-group">
                    <label for="rightImage">right image:</label>
                    <input type="text" class="form-control" id="rightImage" name="rightImage" required>
                </div>
                <div class="form-group">
                    <label for="titleColor">title color:</label>
                    <input type="color" class="form-control colorbox" id="titleColor" name="titleColor" required>
                </div>
                <div class="form-group">
                    <label for="navLinkColor">nav link color:</label>
                    <input type="color" class="form-control colorbox" id="navLinkColor" name="navLinkColor" required>
                </div>
                <div class="form-group">
                    <label for="buttonBackgroundColor">button background color:</label>
                    <input type="color" class="form-control colorbox" id="buttonBackgroundColor" name="buttonBackgroundColor" required>
                </div>
                <div class="form-group">
                    <label for="buttonTextColor">button text color:</label>
                    <input type="color" class="form-control colorbox" id="buttonTextColor" name="buttonTextColor" required>
                </div>
                <div class="form-group">
                    <label for="shopitem">shop item:</label>
                    <input type="text" class="form-control" id="shopitem" name="shopitem" required>
                </div>
            <% } else if (template === 'template3') { %>

                <div class="form-group">
                    <label for="newstitle">news title:</label>
                    <input type="text" class="form-control" id="newstitle" name="newstitle" required>
                </div>
                <div class="form-group">
                    <label for="subtitle1">subtitle 1:</label>
                    <input type="text" class="form-control" id="subtitle1" name="subtitle1" required>
                </div>
                <div class="form-group">
                    <label for="paragraph1">paragraph 1:</label>
                    <textarea class="form-control" id="paragraph1" name="paragraph1" required></textarea>
                </div>
                <div class="form-group">
                    <label for="subtitle2">subtitle 2:</label>
                    <input type="text" class="form-control" id="subtitle2" name="subtitle2" required>
                </div>
                <div class="form-group">
                    <label for="paragraph2">paragraph 2:</label>
                    <textarea class="form-control" id="paragraph2" name="paragraph2" required></textarea>
                </div>
                <div class="form-group">
                    <label for="subtitle3">subtitle 3:</label>
                    <input type="text" class="form-control" id="subtitle3" name="subtitle3" required>
                </div>
                <div class="form-group">
                    <label for="paragraph3">paragraph 3:</label>
                    <textarea class="form-control" id="paragraph3" name="paragraph3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="subtitle4">subtitle 4:</label>
                    <input type="text" class="form-control" id="subtitle4" name="subtitle4" required>
                </div>
                <div class="form-group">
                    <label for="paragraph4">paragraph 4:</label>
                    <textarea class="form-control" id="paragraph4" name="paragraph4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="subtitle5">subtitle 5:</label>
                    <input type="text" class="form-control" id="subtitle5" name="subtitle5" required>
                </div>
                <div class="form-group">
                    <label for="paragraph5">paragraph 5:</label>
                    <textarea class="form-control" id="paragraph5" name="paragraph5" required></textarea>
                </div>
                <div class="form-group">
                    <label for="headline">headline:</label>
                    <input type="text" class="form-control" id="headline" name="headline" required>
                </div>
                <div class="form-group">
                    <label for="headlineimage">headline image:</label>
                    <input type="text" class="form-control" id="headlineimage" name="headlineimage" required>
                </div>
                <div class="form-group">
                    <label for="headlinep">headline paragraph:</label>
                    <textarea class="form-control" id="headlinep" name="headlinep" required></textarea>
                </div>

            <% } else if (template === 'template4') { %>
                <div class="form-group">
                    <label for="restaurantname">restaurant name:</label>
                    <input type="text" class="form-control" id="restaurantname" name="restaurantname" required>
                </div>
                <div class="form-group">
                    <label for="backgroundimage">background image:</label>
                    <input type="text" class="form-control" id="backgroundimage" name="backgroundimage" required>
                </div>
                <div class="form-group">
                    <label for="headerh1">header h1:</label>
                    <input type="text" class="form-control" id="headerh1" name="headerh1" required>
                </div>
                <div class="form-group">
                    <label for="headerp">header paragraph:</label>
                    <textarea class="form-control" id="headerp" name="headerp" required></textarea>
                </div>
                <div class="form-group">
                    <label for="fontcolor">font color:</label>
                    <input type="color" class="form-control colorbox" id="fontcolor" name="fontcolor" required>
                </div>

            <% } %>
            <div class="form-buttons">
                <button type="submit">submit</button>
                <button type="reset">reset</button>
            </div>  
        </form>
    </div>
</body>
</html>
