<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/news.css">
    <link rel="icon" href="/images/favicon_io/favicon-16x16.png" type="image/png">
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="header">
            <h2 class="title">DAILY NEWS</h2>
            <nav class="navbar navbar-expand-lg justify-content-center">
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Business </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Politics </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Obituaries </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">City Life </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Food </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">TV and radio</a>
                      </li>
                  </ul>
                </div>
              </nav>
        </div>
        <div class="row no-gutters">
            <div class="col-md-3 sidebar d-flex flex-column justify-content-between">
                <div class="news-section">
                    <h3>New York</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula eros nec velit tincidunt, a condimentum nisl consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula eros nec velit tincidunt, a condimentum nisl consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio numquam, quas ad alias, labore aut possimus modi velit recusandae corrupti harum quam fugit tenetur debitis! Facilis velit fugit voluptatem id.</p>
                </div>
                <div class="news-section">
                    <h3>Stock Market</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula eros nec velit tincidunt, a condimentum nisl consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula eros nec velit tincidunt, a condimentum nisl consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur similique dolore nihil at illum, unde sapiente dicta rerum. Ad provident iste tempore vel sint quo a commodi iusto veritatis incidunt!</p>
                </div>
                <div class="news-section">
                    <h3>California</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula eros nec velit tincidunt, a condimentum nisl consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula eros nec velit tincidunt, a condimentum nisl consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati excepturi accusamus totam dignissimos libero nemo, nesciunt saepe quasi magni exercitationem. Ad odio placeat nesciunt! Expedita voluptatum dicta non recusandae debitis!</p>
                </div>
                <div class="news-section">
                    <h3>Boston</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula eros nec velit tincidunt, a condimentum nisl consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula eros nec velit tincidunt, a condimentum nisl consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati excepturi accusamus totam dignissimos libero nemo, nesciunt saepe quasi magni exercitationem. Ad odio placeat nesciunt! Expedita voluptatum dicta non recusandae debitis!</p>
                </div>
                <div class="news-section">
                    <h3>Berserk</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula eros nec velit tincidunt, a condimentum nisl consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula eros nec velit tincidunt, a condimentum nisl consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati excepturi accusamus totam dignissimos libero nemo, nesciunt saepe quasi magni exercitationem. Ad odio placeat nesciunt! Expedita voluptatum dicta non recusandae debitis!</p>
                </div>
            </div>
            <div class="col-md-9 content">
                <h2 class="h2">Main Headline</h2>
                <div class="headline-container">
                    <img src="/images/newyork.jpg" class="headline-image">
                    <div class="headline-text-box">
                        <p class="content-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula eros nec velit tincidunt, a condimentum nisl consectetur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda mollitia itaque reiciendis rerum quae, illo repellat corrupti. Pariatur dicta consectetur laborum a, mollitia necessitatibus praesentium aliquid, vel eius autem cupiditate!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="/sitefy/templates" class="fixed-icon"><i class="fa-solid fa-circle-arrow-left" style="color: black;"></i></a>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
